
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body style="background-image:  url('../../Models/Image/.jpg'); background-repeat:no-repeat;">
    <hgroup>
        <br/>

        <br />
        <h1 align="center">Some thing is wrong.........</h1>
        <h2 align="center"> Please check your Network ...........? </h2>
    </hgroup>
</body>
</html>
